<div class="jumbotron">
    <div class="text-center">
        <h1>Tarek Halloul</h1>
        <h3>Software Engineer & Game Developer</h3>
    </div>
    <div class="ico-link">
        <a href="https://www.linkedin.com/in/tarekhalloul/" target="_blank" class="">
            <img src="../assets/icons/linkedin-svgrepo-com.png" alt="" width="24" height="24" class="rounded-cicle me-2">
        </a>
        <a href="https://www.facebook.com/Hall.Tarek1/" target="_blank" class="">
            <img src="../assets/icons/facebook-svgrepo-com.png" alt="" width="24" height="24" class="rounded-cicle me-2">
        </a>
        <a href="https://github.com/T-Fluffy" target="_blank" class="">
            <img src="../assets/icons/github-142-svgrepo-com.png" alt="" width="24" height="24" class="rounded-cicle  me-2">
        </a>
    </div>
</div>