<div class="container text-center">
  <button class="btn btn-primary mb-5 shadow border" (click)="downloadResume()">
    Download Resume
  </button>
  <div class="pb-2">
    <p-accordion [multiple]="true" class="shadow">
      <p-accordionTab header="Experience" class="row skill-conf">
        <h2 class="mb-0">Web Engineer Intern</h2>
        <h3 class="text-primary">Webify technologies</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos id
          repudiandae, quibusdam sed rem provident exercitationem eveniet eum
          minus consequuntur dolore, at nesciunt optio qui distinctio quas?
          Quos, dolorem molestias.
        </p>
        <br />
        <h2 class="mb-0">Software Engineer Intern</h2>
        <h3 class="text-primary">Lanterns Studio</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos id
          repudiandae, quibusdam sed rem provident exercitationem eveniet eum
          minus consequuntur dolore, at nesciunt optio qui distinctio quas?
          Quos, dolorem molestias.
        </p>
        <br />
        <h2 class="mb-0">Web Engineer Intern</h2>
        <h3 class="text-primary">Camel Soft</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos id
          repudiandae, quibusdam sed rem provident exercitationem eveniet eum
          minus consequuntur dolore, at nesciunt optio qui distinctio quas?
          Quos, dolorem molestias.
        </p>
        <br />
        <h2 class="mb-0">Game Developer Engineer and startup cofounder</h2>
        <h3 class="text-primary">DM-Nova</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos id
          repudiandae, quibusdam sed rem provident exercitationem eveniet eum
          minus consequuntur dolore, at nesciunt optio qui distinctio quas?
          Quos, dolorem molestias.
        </p>
        <br />
        <h2 class="mb-0">Game Developer Intern</h2>
        <h3 class="text-primary">Envast</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos id
          repudiandae, quibusdam sed rem provident exercitationem eveniet eum
          minus consequuntur dolore, at nesciunt optio qui distinctio quas?
          Quos, dolorem molestias.
        </p>
        <br />
        <h2 class="mb-0">Telecommunications technician Intern</h2>
        <h3 class="text-primary">Tunisie Telecom</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos id
          repudiandae, quibusdam sed rem provident exercitationem eveniet eum
          minus consequuntur dolore, at nesciunt optio qui distinctio quas?
          Quos, dolorem molestias.
        </p>
      </p-accordionTab>
      <p-accordionTab header="Education">
        <div class="education-conf">
          <h3 class="mb-0">
            Master Degree in Software Engineering (2020 - 2023)
          </h3>
          <h4 class="text-primary">EPI Digital School,Sousse,Tunisia</h4>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus
            debitis accusamus eveniet nesciunt alias minima veniam rem deserunt
            ratione, reprehenderit repellat laudantium aliquam quasi ipsa
            magnam! Optio quasi distinctio totam.
          </p>
        </div>
        <div class="education-conf">
          <h3 class="mb-0">
            Bachelor Degree in Computer Science (2016 - 2019)
          </h3>
          <h4 class="text-primary">ISITCOM,Hammam sousse,Tunisia</h4>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus
            debitis accusamus eveniet nesciunt alias minima veniam rem deserunt
            ratione, reprehenderit repellat laudantium aliquam quasi ipsa
            magnam! Optio quasi distinctio totam.
          </p>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Skills">
        <div class="row skill-conf">
          <div>
            <h3>Programming Languages:</h3>
            <ul class="space-li">
              <li>C#</li>
              <li>C++</li>
              <li>Java</li>
              <li>Typescript</li>
              <li>Javascript</li>
              <li>Python</li>
              <li>HTML5</li>
              <li>CSS3</li>
            </ul>
          </div>
          <div>
            <h3>Frameworks:</h3>
            <ul class="space-li">
              <li>Unity engine</li>
              <li>Unreal engine</li>
              <li>Angular</li>
              <li>React</li>
              <li>.Net</li>
              <li>Spring boot</li>
              <li>Node.js</li>
              <li>flutter</li>
            </ul>
          </div>
          <div>
            <h3>Other Skills:</h3>
            <ul class="space-li">
              <li>Source control using Git</li>
              <li>MVC architecture</li>
              <li>Agile Development</li>
              <li>SQL and NOSQL databases management</li>
              <li>Docker</li>
              <li>Postman for API testing</li>
              <li>Three.js</li>
            </ul>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Certificates"></p-accordionTab>
    </p-accordion>
  </div>
</div>
